<div class="row mt-4">

  <div class="col-md-6 d-none d-md-block" style="height: 450px;">
    <div class="text-center col-md-12 my-auto side-heder">
      <h1>Cadastro de Usuário</h1>
      <img src="../../../../assets/registerImage.png" class="my-4" alt="" width="400px">
    </div>
  </div>

  <div class="col-md-6">

    <form [formGroup]="form" class="p-1">
      <div class="pb-2 d-block d-md-none">
        <h3 class="border-bottom">Cadastro de Usuário</h3>
      </div>
      <div class="form-row">
        <div class="form-group col-sm-6">
          <label>Primeiro Nome</label>
          <input type="text" [ngClass]="{'is-invalid': f.primeiroNome.errors && f.primeiroNome.touched}"
            formControlName="primeiroNome" class="form-control" placeholder="Insira o Primeiro nome" />
          <div *ngIf="f.primeiroNome.errors?.required && f.primeiroNome.touched" class="invalid-feedback">
            Primeiro nome obrigatório.
          </div>

        </div>
        <div class="form-group col-sm-6">
          <label>Último nome</label>
          <input type="text" [ngClass]="{'is-invalid': f.ultimoNome.errors && f.ultimoNome.touched}"
            formControlName="ultimoNome" class="form-control" placeholder="Insira o Último nome" />
          <div *ngIf="f.ultimoNome.errors?.required && f.ultimoNome.touched" class="invalid-feedback">
            Último nome obrigatório.
          </div>
        </div>
      </div>
      <div class="form-group">
        <label for="">Email:</label>
        <input class="form-control" [ngClass]="{'is-invalid': f.email.errors &&  f.email.touched}"
          formControlName="email" type=" text" placeholder="Insira o email" />

        <div *ngIf="f.email.errors?.required && f.email.touched" class="invalid-feedback">
          Email obrigatório.
        </div>

        <div *ngIf="f.email.errors?.email && f.email.touched" class="invalid-feedback">
          Deve ser um e-mail válido.
        </div>

      </div>
      <div class="form-group">
        <label for="">Usuario:</label>
        <input class="form-control" [ngClass]="{'is-invalid': f.username.errors && f.username.touched}"
          formControlName="username" type="text" placeholder="Insira o nome de Usuário" />
        <div *ngIf="f.username.errors?.required && f.username.touched" class="invalid-feedback">
          Usuário Obrigatorio.
        </div>
      </div>
      <div class="form-row">
        <div class="form-group col-sm-6">
          <label for="">Senha:</label>
          <input class="form-control" [ngClass]="{'is-invalid': f.senha.errors && f.senha.touched}"
            formControlName="senha" type="password" placeholder="Digite uma Senha" />

        <div *ngIf="f.senha.errors?.required && f.senha.touched" class="invalid-feedback" >
            Senha é Obrigatório.
        </div>
        <div *ngIf="f.senha.errors?.minlength && f.senha.touched" class="invalid-feedback" >
          Senha deve ter no mínimo 6 digitos
        </div>
      </div>
        <div class="form-group col-sm-6">
          <label for="">Confirmar Senha:</label>
          <input class="form-control"  [ngClass]="{'is-invalid': f.confirmeSenha.errors && f.confirmeSenha.touched}"
          formControlName="confirmeSenha" type="password" placeholder="Confirme a Senha" />
          <div *ngIf="f.confirmeSenha.errors?.required && f.confirmeSenha.touched" class="invalid-feedback" >
            Confirmar  Senha é Obrigatório.
         </div>
         <div *ngIf="f.confirmeSenha.errors?.mustMatch && f.confirmeSenha.touched" class="invalid-feedback" >
          Senha deve ser igual.
       </div>

        </div>
      </div>
      <div class="form-row">
        <div class=" form-group col-sm-12 ml-30 ">
          <input type="checkbox" class="form-check-input"
          [ngClass]="{'is-invalid': f.aceitaTermos.errors && f.aceitaTermos.touched}"
          formControlName="aceitaTermos" >
          <label class="form-check-label">Eu concordo com os <a href="#">Termos de Uso</a>.</label>
        </div>
      </div>

      <div class="form-row">
        <div class="form-group col-sm-12">
          <button [disabled]="!form.valid" class="btn btn-lg btn-success btn-block px-5">
            Registar
          </button>
        </div>
      </div>
      <div class="form-row">
        <div class="form-group col-12">
          <a class="btn btn-link btn-block" routerLink="/user/login">
            Já sou Cadastrado
          </a>
        </div>
      </div>
    </form>

  </div>
</div>
